html {
  font-family: 'Nunito';
}

body {
  background-color: #021d24;
  color: #ffffff;
}

.boards {
  display: flex;
  margin: 20px;
}

.board {
  background: #021d3b;
  border: 1px solid #ffffff11;
  border-radius: 5px;
  margin: 0 16px;
}

.board h3 {
  padding: 16px;
  margin: 0;
  color: #f37c2c;
}

.dropzone {
  padding: 16px;
  min-width: 284px;
  min-height: 200px;
}

.card {
  padding: 20px;
  box-shadow: 0 2px 2px -1px #f37c2c;
  width: 250px;
  margin: 25px 0;
  border-radius: 5pz;
  font-weight: 600;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.082);
}

.status {
  width: 30px;
  height: 8px;
  background: gray;
  border-radius: 5px;
  margin-bottom: 10px;
}

.status.green {
  background: #31ff64;
}

.status.yellow {
  background: #fff06c;
}

.status.red {
  background: red;
}